div.DTS {
  display: block !important;
}

div.DTS tbody th,
div.DTS tbody td {
  white-space: nowrap;
}

div.DTS div.DTS_Loading {
  z-index: 1;
}

div.DTS div.dataTables_scrollBody {
  background: repeating-linear-gradient(45deg, #edeeff, #edeeff 10px, white 10px, white 20px);
}

div.DTS div.dataTables_scrollBody table {
  z-index: 2;
}

div.DTS div.dataTables_paginate,
div.DTS div.dataTables_length {
  display: none;
}

/*
 * Table styles
 */

table.dataTable {
  width: 100%;
  margin: 0 auto;
  clear: both;
  border-collapse: separate;
  border-spacing: 0;
  /*
   * Header and footer styles
   *//*
   * Body styles
   */
}

table.dataTable thead th,
table.dataTable tfoot th {
  font-weight: bold;
}

table.dataTable thead th,
table.dataTable thead td {
  padding: 10px 18px;
  border-bottom: 1px solid #111;
}

table.dataTable thead th:active,
table.dataTable thead td:active {
  outline: none;
}

table.dataTable tfoot th,
table.dataTable tfoot td {
  padding: 10px 18px 6px 18px;
  border-top: 1px solid #111;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  cursor: pointer;
  *cursor: hand;
  background-repeat: no-repeat;
  background-position: center right;
}

table.dataTable thead .sorting {
  background-image: url(9a6486086d09bb38cf66a57cc559ade3.png);
}

table.dataTable thead .sorting_asc {
  background-image: url(9326ad44ae4bebdedd141e7a53c2a730.png);
}

table.dataTable thead .sorting_desc {
  background-image: url(1fc418e33fd5a687290258b23fac4e98.png);
}

table.dataTable thead .sorting_asc_disabled {
  background-image: url(d7dc10c78f23615d328581aebcd805eb.png);
}

table.dataTable thead .sorting_desc_disabled {
  background-image: url(bda51e15154a18257b4f955a222fd66f.png);
}

table.dataTable tbody tr {
  background-color: white;
}

table.dataTable tbody tr.selected {
  background-color: #b0bed9;
}

table.dataTable tbody th,
table.dataTable tbody td {
  padding: 8px 10px;
}

table.dataTable.row-border tbody th,
table.dataTable.row-border tbody td,
table.dataTable.display tbody th,
table.dataTable.display tbody td {
  border-top: 1px solid #ddd;
}

table.dataTable.row-border tbody tr:first-child th,
table.dataTable.row-border tbody tr:first-child td,
table.dataTable.display tbody tr:first-child th,
table.dataTable.display tbody tr:first-child td {
  border-top: none;
}

table.dataTable.cell-border tbody th,
table.dataTable.cell-border tbody td {
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

table.dataTable.cell-border tbody tr th:first-child,
table.dataTable.cell-border tbody tr td:first-child {
  border-left: 1px solid #ddd;
}

table.dataTable.cell-border tbody tr:first-child th,
table.dataTable.cell-border tbody tr:first-child td {
  border-top: none;
}

table.dataTable.stripe tbody tr.odd,
table.dataTable.display tbody tr.odd {
  background-color: #f9f9f9;
}

table.dataTable.stripe tbody tr.odd.selected,
table.dataTable.display tbody tr.odd.selected {
  background-color: #abb9d3;
}

table.dataTable.hover tbody tr:hover,
table.dataTable.display tbody tr:hover {
  background-color: whitesmoke;
}

table.dataTable.hover tbody tr:hover.selected,
table.dataTable.display tbody tr:hover.selected {
  background-color: #a9b7d1;
}

table.dataTable.order-column tbody tr > .sorting_1,
table.dataTable.order-column tbody tr > .sorting_2,
table.dataTable.order-column tbody tr > .sorting_3,
table.dataTable.display tbody tr > .sorting_1,
table.dataTable.display tbody tr > .sorting_2,
table.dataTable.display tbody tr > .sorting_3 {
  background-color: #f9f9f9;
}

table.dataTable.order-column tbody tr.selected > .sorting_1,
table.dataTable.order-column tbody tr.selected > .sorting_2,
table.dataTable.order-column tbody tr.selected > .sorting_3,
table.dataTable.display tbody tr.selected > .sorting_1,
table.dataTable.display tbody tr.selected > .sorting_2,
table.dataTable.display tbody tr.selected > .sorting_3 {
  background-color: #acbad4;
}

table.dataTable.display tbody tr.odd > .sorting_1,
table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
  background-color: #f1f1f1;
}

table.dataTable.display tbody tr.odd > .sorting_2,
table.dataTable.order-column.stripe tbody tr.odd > .sorting_2 {
  background-color: #f3f3f3;
}

table.dataTable.display tbody tr.odd > .sorting_3,
table.dataTable.order-column.stripe tbody tr.odd > .sorting_3 {
  background-color: whitesmoke;
}

table.dataTable.display tbody tr.odd.selected > .sorting_1,
table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_1 {
  background-color: #a6b3cd;
}

table.dataTable.display tbody tr.odd.selected > .sorting_2,
table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_2 {
  background-color: #a7b5ce;
}

table.dataTable.display tbody tr.odd.selected > .sorting_3,
table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_3 {
  background-color: #a9b6d0;
}

table.dataTable.display tbody tr.even > .sorting_1,
table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
  background-color: #f9f9f9;
}

table.dataTable.display tbody tr.even > .sorting_2,
table.dataTable.order-column.stripe tbody tr.even > .sorting_2 {
  background-color: #fbfbfb;
}

table.dataTable.display tbody tr.even > .sorting_3,
table.dataTable.order-column.stripe tbody tr.even > .sorting_3 {
  background-color: #fdfdfd;
}

table.dataTable.display tbody tr.even.selected > .sorting_1,
table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_1 {
  background-color: #acbad4;
}

table.dataTable.display tbody tr.even.selected > .sorting_2,
table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_2 {
  background-color: #adbbd6;
}

table.dataTable.display tbody tr.even.selected > .sorting_3,
table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_3 {
  background-color: #afbdd8;
}

table.dataTable.display tbody tr:hover > .sorting_1,
table.dataTable.order-column.hover tbody tr:hover > .sorting_1 {
  background-color: #eaeaea;
}

table.dataTable.display tbody tr:hover > .sorting_2,
table.dataTable.order-column.hover tbody tr:hover > .sorting_2 {
  background-color: #ebebeb;
}

table.dataTable.display tbody tr:hover > .sorting_3,
table.dataTable.order-column.hover tbody tr:hover > .sorting_3 {
  background-color: #eee;
}

table.dataTable.display tbody tr:hover.selected > .sorting_1,
table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_1 {
  background-color: #a1aec7;
}

table.dataTable.display tbody tr:hover.selected > .sorting_2,
table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_2 {
  background-color: #a2afc8;
}

table.dataTable.display tbody tr:hover.selected > .sorting_3,
table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_3 {
  background-color: #a4b2cb;
}

table.dataTable.no-footer {
  border-bottom: 1px solid #111;
}

table.dataTable.nowrap th,
table.dataTable.nowrap td {
  white-space: nowrap;
}

table.dataTable.compact thead th,
table.dataTable.compact thead td {
  padding: 4px 17px 4px 4px;
}

table.dataTable.compact tfoot th,
table.dataTable.compact tfoot td {
  padding: 4px;
}

table.dataTable.compact tbody th,
table.dataTable.compact tbody td {
  padding: 4px;
}

table.dataTable th.dt-left,
table.dataTable td.dt-left {
  text-align: left;
}

table.dataTable th.dt-center,
table.dataTable td.dt-center,
table.dataTable td.dataTables_empty {
  text-align: center;
}

table.dataTable th.dt-right,
table.dataTable td.dt-right {
  text-align: right;
}

table.dataTable th.dt-justify,
table.dataTable td.dt-justify {
  text-align: justify;
}

table.dataTable th.dt-nowrap,
table.dataTable td.dt-nowrap {
  white-space: nowrap;
}

table.dataTable thead th.dt-head-left,
table.dataTable thead td.dt-head-left,
table.dataTable tfoot th.dt-head-left,
table.dataTable tfoot td.dt-head-left {
  text-align: left;
}

table.dataTable thead th.dt-head-center,
table.dataTable thead td.dt-head-center,
table.dataTable tfoot th.dt-head-center,
table.dataTable tfoot td.dt-head-center {
  text-align: center;
}

table.dataTable thead th.dt-head-right,
table.dataTable thead td.dt-head-right,
table.dataTable tfoot th.dt-head-right,
table.dataTable tfoot td.dt-head-right {
  text-align: right;
}

table.dataTable thead th.dt-head-justify,
table.dataTable thead td.dt-head-justify,
table.dataTable tfoot th.dt-head-justify,
table.dataTable tfoot td.dt-head-justify {
  text-align: justify;
}

table.dataTable thead th.dt-head-nowrap,
table.dataTable thead td.dt-head-nowrap,
table.dataTable tfoot th.dt-head-nowrap,
table.dataTable tfoot td.dt-head-nowrap {
  white-space: nowrap;
}

table.dataTable tbody th.dt-body-left,
table.dataTable tbody td.dt-body-left {
  text-align: left;
}

table.dataTable tbody th.dt-body-center,
table.dataTable tbody td.dt-body-center {
  text-align: center;
}

table.dataTable tbody th.dt-body-right,
table.dataTable tbody td.dt-body-right {
  text-align: right;
}

table.dataTable tbody th.dt-body-justify,
table.dataTable tbody td.dt-body-justify {
  text-align: justify;
}

table.dataTable tbody th.dt-body-nowrap,
table.dataTable tbody td.dt-body-nowrap {
  white-space: nowrap;
}

table.dataTable,
table.dataTable th,
table.dataTable td {
  box-sizing: content-box;
}

/*
 * Control feature layout
 */

.dataTables_wrapper {
  position: relative;
  clear: both;
  *zoom: 1;
  zoom: 1;
}

.dataTables_wrapper .dataTables_length {
  float: left;
}

.dataTables_wrapper .dataTables_filter {
  float: right;
  text-align: right;
}

.dataTables_wrapper .dataTables_filter input {
  margin-left: .5em;
}

.dataTables_wrapper .dataTables_info {
  clear: both;
  float: left;
  padding-top: .755em;
}

.dataTables_wrapper .dataTables_paginate {
  float: right;
  text-align: right;
  padding-top: .25em;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: .5em 1em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  *cursor: hand;
  color: #333 !important;
  border: 1px solid transparent;
  border-radius: 2px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #333 !important;
  border: 1px solid #979797;
  background-color: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, gainsboro));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, gainsboro 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, white 0%, gainsboro 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, white 0%, gainsboro 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, white 0%, gainsboro 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, white 0%, gainsboro 100%);
  /* W3C */
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  cursor: default;
  color: #666 !important;
  border: 1px solid transparent;
  background: transparent;
  box-shadow: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: white !important;
  border: 1px solid #111;
  background-color: #585858;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #585858 0%, #111 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, #585858 0%, #111 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, #585858 0%, #111 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, #585858 0%, #111 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, #585858 0%, #111 100%);
  /* W3C */
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  outline: none;
  background-color: #2b2b2b;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #0c0c0c));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, #2b2b2b 0%, #0c0c0c 100%);
  /* W3C */
  box-shadow: inset 0 0 3px #111;
}

.dataTables_wrapper .dataTables_paginate .ellipsis {
  padding: 0 1em;
}

.dataTables_wrapper .dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 40px;
  margin-left: -50%;
  margin-top: -25px;
  padding-top: 20px;
  text-align: center;
  font-size: 1.2em;
  background-color: white;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(25%, rgba(255, 255, 255, .9)), color-stop(75%, rgba(255, 255, 255, .9)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .9) 25%, rgba(255, 255, 255, .9) 75%, rgba(255, 255, 255, 0) 100%);
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .9) 25%, rgba(255, 255, 255, .9) 75%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .9) 25%, rgba(255, 255, 255, .9) 75%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .9) 25%, rgba(255, 255, 255, .9) 75%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .9) 25%, rgba(255, 255, 255, .9) 75%, rgba(255, 255, 255, 0) 100%);
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  color: #333;
}

.dataTables_wrapper .dataTables_scroll {
  clear: both;
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
  *margin-top: -1px;
  -webkit-overflow-scrolling: touch;
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > th,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > td,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > th,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > td {
  vertical-align: middle;
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > th > div.dataTables_sizing,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > td > div.dataTables_sizing,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > th > div.dataTables_sizing,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > td > div.dataTables_sizing {
  height: 0;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: 1px solid #111;
}

.dataTables_wrapper.no-footer div.dataTables_scrollHead table.dataTable,
.dataTables_wrapper.no-footer div.dataTables_scrollBody > table {
  border-bottom: none;
}

.dataTables_wrapper:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

@media screen and (max-width: 767px) {
  .dataTables_wrapper .dataTables_info,
  .dataTables_wrapper .dataTables_paginate {
    float: none;
    text-align: center;
  }

  .dataTables_wrapper .dataTables_paginate {
    margin-top: .5em;
  }
}

@media screen and (max-width: 640px) {
  .dataTables_wrapper .dataTables_length,
  .dataTables_wrapper .dataTables_filter {
    float: none;
    text-align: center;
  }

  .dataTables_wrapper .dataTables_filter {
    margin-top: .5em;
  }
}

/*!
 * Font Awesome Free 5.6.3 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */


.fas,
.far,
.fab {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
readers do not read off random characters that represent icons */

.fa-at:before {
  content: "\F1FA";
}

.fa-atlas:before {
  content: "\F558";
}

.fa-atlassian:before {
  content: "\F77B";
}

.fa-atom:before {
  content: "\F5D2";
}

.fa-cog:before {
  content: "\F013";
}

.fa-exchange-alt:before {
  content: "\F362";
}

.fa-exclamation-triangle:before {
  content: "\F071";
}

.fa-folder-open:before {
  content: "\F07C";
}

.fa-github:before {
  content: "\F09B";
}

.fa-long-arrow-alt-down:before {
  content: "\F309";
}

.fa-long-arrow-alt-up:before {
  content: "\F30C";
}

.fa-save:before {
  content: "\F0C7";
}

.fa-search:before {
  content: "\F002";
}

.fa-sign:before {
  content: "\F4D9";
}

.fa-sign-in-alt:before {
  content: "\F2F6";
}

.fa-sign-language:before {
  content: "\F2A7";
}

.fa-sign-out-alt:before {
  content: "\F2F5";
}

.fa-signal:before {
  content: "\F012";
}

.fa-signature:before {
  content: "\F5B7";
}

.fa-tags:before {
  content: "\F02C";
}

.fa-times:before {
  content: "\F00D";
}

@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: normal;
  src: url(7d43b9ae0b8bb1d0dc425d78dc577b0a.eot);
  src: url(7d43b9ae0b8bb1d0dc425d78dc577b0a.eot?#iefix) format("embedded-opentype"), url(b89c6c51aa2999159a6667f97a46a346.woff2) format("woff2"), url(dd4ff1196905f0585aef2c80486869e9.woff) format("woff"), url(50a544b5ad4d512e8db3cdc089823a00.ttf) format("truetype"), url(fef43c1fd872ef7f1880483d9b63ccf2.svg#fontawesome) format("svg");
}

.fab {
  font-family: 'Font Awesome 5 Brands';
}

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 400;
  src: url(8e9f0ee6d016526776c27f91fea55cca.eot);
  src: url(8e9f0ee6d016526776c27f91fea55cca.eot?#iefix) format("embedded-opentype"), url(e65d96d04378217b8b5caff2fb1b62cb.woff2) format("woff2"), url(fc5252e568503bfb163233ec63b8a2ce.woff) format("woff"), url(deb8619e67992d3fa088b5dcbb8cff36.ttf) format("truetype"), url(734248d027cbaac7f03c0d931ec95593.svg#fontawesome) format("svg");
}

.far {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400;
}

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  src: url(f72d546abcc27880adf8428792c72519.eot);
  src: url(f72d546abcc27880adf8428792c72519.eot?#iefix) format("embedded-opentype"), url(8086e197694282b26c7b729945ecc377.woff2) format("woff2"), url(52b8345b6d8e11988d8db917c366b4da.woff) format("woff"), url(1709a2810c3752483683f3f7d287aa89.ttf) format("truetype"), url(27603739fe78fee587c7b84873475b61.svg#fontawesome) format("svg");
}


.fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}

/** Generated by FG **/

@font-face {
  font-family: 'Conv_Octarine-Bold';
  src: url(48ad944e59d8ee7caa6260666e288766.eot);
  src: local('\263A'), url(355c67e548e62cb37ac5fe2567520eae.woff) format('woff'), url(d14d2d9a6eab4980dca2f0616393e8be.ttf) format('truetype'), url(46438c42f2062a1fe18f59fe5cbe1cf4.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}

/** Generated by FG **/

@font-face {
  font-family: 'Conv_Octarine-Light';
  src: url(a1831df946a120e38b0bb1fb6267fee6.eot);
  src: local('\263A'), url(5a26a2ee1abb0badac7de0ef27a011fa.woff) format('woff'), url(8595709588950e65333ab21118649321.ttf) format('truetype'), url(9dc094979fbe61ff42540fe2fe675fb6.svg) format('svg');
  font-weight: normal;
  font-style: normal;
}

/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */

html {
  line-height: 1.15; /* 1 */
      -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers (opinionated).
 */

body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */


footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: .67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */

figcaption,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */

a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */

b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */

/**
 * Add the correct font size in all browsers.
 */

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

/* Embedded content
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

/**
 * Add the correct display in iOS 4-7.
 */

/**
 * Remove the border on images inside links in IE 10-.
 */

img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */

button,
html [type="button"],
/* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

/**
 * Remove the default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */

details,
/* 1 */
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

/* Scripting
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 */

canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */

template {
  display: none;
}

/* Hidden
   ========================================================================== */

/**
 * Add the correct display in IE 10-.
 */

[hidden] {
  display: none;
}

/**
 * Manually forked from SUIT CSS Base: https://github.com/suitcss/base
 * A thin layer on top of normalize.css that provides a starting point more
 * suitable for web applications.
 */

/**
 * 1. Prevent padding and border from affecting element width
 * https://goo.gl/pYtbK7
 * 2. Change the default font family in all browsers (opinionated)
 */

html {
  box-sizing: border-box; /* 1 */
  font-family: sans-serif; /* 2 */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Removes the default spacing and border for appropriate elements.
 */


h1,
h2,
h3,
p,
pre {
  margin: 0;
}

button {
  background: transparent;
  padding: 0;
}

/**
 * Work around a Firefox/IE bug where the transparent `button` background
 * results in a loss of the default `button` focus styles.
 */

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

ol,
ul {
  margin: 0;
}

/**
 * Tailwind custom reset styles
 */

/**
 * Allow adding a border to an element by just adding a border-width.
 *
 * By default, the way the browser specifies that an element should have no
 * border is by setting it's border-style to `none` in the user-agent
 * stylesheet.
 *
 * In order to easily add borders to elements by just setting the `border-width`
 * property, we change the default border-style for all elements to `solid`, and
 * use border-width to hide them instead. This way our `border` utilities only
 * need to set the `border-width` property instead of the entire `border`
 * shorthand, making our border utilities much more straightforward to compose.
 *
 * https://github.com/tailwindcss/tailwindcss/pull/116
 */

*,
*::before,
*::after {
  border-width: 0;
  border-style: solid;
  border-color: #ebeef0;
}

/**
 * Undo the `border-style: none` reset that Normalize applies to images so that
 * our `border-{width}` utilities have the expected effect.
 *
 * The Normalize reset is unnecessary for us since we default the border-width
 * to 0 on all elements.
 *
 * https://github.com/tailwindcss/tailwindcss/issues/362
 */

img {
  border-style: solid;
}

/**
 * Temporary reset for a change introduced in Chrome 62 but now reverted.
 *
 * We can remove this when the reversion is in a normal Chrome release.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  border-radius: 0;
}

textarea {
  resize: vertical;
}

img {
  max-width: 100%;
  height: auto;
}

button,
input,
select,
textarea {
  font-family: inherit;
}

input::placeholder,
textarea::placeholder {
  color: inherit;
  opacity: .5;
}

button,
[role=button] {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

/**
 * This injects any component classes registered by plugins.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/components";
 */

.container {
  width: 100%;
}

@media (min-width: 576px) {
  .container {
    max-width: 576px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 992px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

/**
 * Here you would add any of your custom component classes; stuff that you'd
 * want loaded *before* the utilities so that the utilities could still
 * override them.
 *
 * Example:
 *
 * .btn { ... }
 * .form-input { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "components/buttons";
 * @import "components/forms";
 */

/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/utilities";
 */

.list-reset {
  list-style: none;
  padding: 0;
}

.bg-black {
  background-color: #000;
}

.bg-grey-lighter {
  background-color: #f1f5f8;
}

.bg-white {
  background-color: #fff;
}

.bg-gs-lighter {
  background-color: #d2eced;
}

.rounded-sm {
  border-radius: .125rem;
}

.rounded {
  border-radius: .25rem;
}

.rounded-t {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.rounded-b {
  border-bottom-right-radius: .25rem;
  border-bottom-left-radius: .25rem;
}

.border {
  border-width: 1px;
}

.border-b {
  border-bottom-width: 1px;
}

.cursor-pointer {
  cursor: pointer;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.table {
  display: table;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.flex-grow {
  flex-grow: 1;
}

.font-mono {
  font-family: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}

.font-bold {
  font-weight: 700;
}

.h-4 {
  height: 1rem;
}

.h-8 {
  height: 2rem;
}

.h-24 {
  height: 6rem;
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

.m-8 {
  margin: 2rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mt-1 {
  margin-top: .25rem;
}

.mb-2 {
  margin-bottom: .5rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.ml-6 {
  margin-left: 1.5rem;
}

.mt-8 {
  margin-top: 2rem;
}

.min-h-full {
  min-height: 100%;
}

.overflow-visible {
  overflow: visible;
}

.p-1 {
  padding: .25rem;
}

.p-2 {
  padding: .5rem;
}

.p-4 {
  padding: 1rem;
}

.py-1 {
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.px-1 {
  padding-left: .25rem;
  padding-right: .25rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.pl-1 {
  padding-left: .25rem;
}

.pr-2 {
  padding-right: .5rem;
}

.pl-2 {
  padding-left: .5rem;
}

.pb-4 {
  padding-bottom: 1rem;
}

.static {
  position: static;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.pin {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.pin-t {
  top: 0;
}

.pin-r {
  right: 0;
}

.pin-b {
  bottom: 0;
}

.pin-l {
  left: 0;
}

.shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
}

.shadow-md {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12), 0 2px 4px 0 rgba(0, 0, 0, .08);
}

.shadow-lg {
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, .11), 0 5px 15px 0 rgba(0, 0, 0, .08);
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-grey-dark {
  color: #717f85;
}

.text-grey {
  color: #c7d1d2;
}

.text-white {
  color: #fff;
}

.text-red {
  color: #e3342f;
}

.text-gs-dark {
  color: #71a1a5;
}

.text-gs-base {
  color: #6bc2c2;
}

.text-gs-red {
  color: #cc6a42;
}

.hover\:text-gs-base:hover {
  color: #6bc2c2;
}

.text-xs {
  font-size: .75rem;
}

.text-sm {
  font-size: .875rem;
}

.text-base {
  font-size: 1rem;
}

.text-lg {
  font-size: 1.125rem;
}

.text-2xl {
  font-size: 1.5rem;
}

.text-3xl {
  font-size: 1.875rem;
}

.tracking-wide {
  letter-spacing: .05em;
}

.align-bottom {
  vertical-align: bottom;
}

.visible {
  visibility: visible;
}

.w-8 {
  width: 2rem;
}

.w-4\/5 {
  width: 80%;
}

.w-full {
  width: 100%;
}

.w-screen {
  width: 100vw;
}

.z-20 {
  z-index: 20;
}

.z-30 {
  z-index: 30;
}

.z-50 {
  z-index: 50;
}

/**
 * Here you would add any custom utilities you need that don't come out of the
 * box with Tailwind.
 *
 * Example :
 *
 * .bg-pattern-graph-paper { ... }
 * .skew-45 { ... }
 *
 * Or if using a preprocessor or `postcss-import`:
 *
 * @import "utilities/background-patterns";
 * @import "utilities/skew-transforms";
 */

html,
body {
  font-family: system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.header-height {
  height: 49px;
  max-height: 49px;
  min-height: 49px;
}

#layout-graph {
  height: calc(100vh - 49px);
}

#layout-browser,
#layout-config {
  top: -300px;
  opacity: 0;
  transition: top .5s, opacity step-end .5s;
}

#layout-browser.show,
#layout-config.show {
  top: 49px;
  opacity: 1;
  transition: top .5s, opacity step-start .5s;
}

.btn {
  font-weight: 400;
  padding-top: .25rem;
  padding-bottom: .25rem;
  padding-left: .5rem;
  padding-right: .5rem;
  border-width: 1px;
}

.btn-primary {
  background-color: #fff;
  color: #000;
}

.btn-primary:hover {
  background-color: #c7d1d2;
}

.layout-border {
  border-color: #ebeef0;
}

.navbar {
}

.nav-btn {
  padding: .5rem;
  text-align: center;
  color: #71a1a5;
}

.prop-table {
  display: table;
  border-collapse: collapse;
}

.prop-row {
  display: table-row;
}

.prop-key {
  font-weight: 700;
  display: table-cell;
  padding-right: .5rem;
  padding-bottom: .25rem;
}

.prop-value {
  display: table-cell;
}

.browser-component {
  /* height set via globals.js */
  border-color: #ebeef0;
  padding: .5rem;
  border-right-width: 1px;
  height: 100%;
  overflow: hidden;
}

.browser-options {
  height: 100%;
  padding-left: .25rem;
  padding-right: .25rem;
  padding-top: .25rem;
  padding-bottom: .25rem;
  background-color: #f1f5f8;
  text-align: center;
}

li.option-active i {
  color: #6bc2c2;
}

.browser-options-short {
  border-color: #ebeef0;
  border-right-width: 1px;
}

.white-shadow {
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, .5);
}

.search-frame {
  width: 43ex;
  position: relative;
  margin-right: .25rem;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, .5);
}

.browser-search-input {
  width: 100%;
  height: 100%;
  padding: .5rem;
  padding-bottom: .25rem;
  border-top-left-radius: .125rem;
}

#browser-search-result {
  position: absolute;
  z-index: 200;
  width: 100%;
  padding: .5rem;
  border-bottom-right-radius: .125rem;
  border-bottom-left-radius: .125rem;
  background-color: #fff;
  font-family: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  flex: initial;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12), 0 2px 4px 0 rgba(0, 0, 0, .08);
}

#browser-search-result li:hover {
  background-color: #d2eced;
}

.browser-search-input:focus {
  outline: none;
}

svg {
  font-family: system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f8fafc;
}

svg g.addressNode {
  cursor: pointer;
}

svg g.addressNode > rect {
  stroke: black;
  stroke-width: 1px;
  color: #ebeef0;
  fill: currentColor;
}

svg g.addressNode text {
}

svg g.clusterNode {
  cursor: pointer;
}

svg g.clusterNode > rect {
  stroke: black;
  color: #c0e2e1;
  fill: currentColor;
}

svg g.clusterNode text {
}

svg g.clusterNode.mockup {
  opacity: 0;
}

svg g.selected > rect {
  stroke: red;
  stroke-width: 3px;
}

svg g.selected .expandHandle > path {
  stroke: red;
  stroke-width: 3px;
}

svg g.addressExpand {
  cursor: pointer;
}

svg g.addressExpand:hover text {
  font-weight: bold;
}

svg g.expandHandles text {
  color: #000;
  fill: currentColor;
}

svg g.expandHandle {
  cursor: pointer;
}

svg g.expandHandle > path {
  stroke-width: 1px;
  stroke: black;
}

svg g.addressNode > g.expandHandles path {
  color: #ebeef0;
  fill: currentColor;
}

svg g.clusterNode > g.expandHandles path {
  color: #c0e2e1;
  fill: currentColor;
}

svg g.expandHandle:hover text {
  font-weight: bold;
}

svg g.removeHandle {
  visibility: hidden;
}

svg g.removeHandle > rect {
  color: transparent;
  fill: currentColor;
}

svg g.removeHandle > text {
  font-family: FontAwesome;
  color: #000;
  fill: currentColor;
}

svg g.addressNode:hover g.removeHandle {
  visibility: visible;
}

svg g.clusterNode:hover g.removeHandle {
  visibility: visible;
}

svg g.link path {
  stroke: black;
  stroke-width: 2px;
  fill: none;
  marker-end: url('#arrow1-black');
}

svg g.link rect {
  fill: rgba(255, 255, 255, .8);
  stroke-width: 0px;
  stroke: black;
}

svg g.link text {
  fill: black;
  stroke-width: 0;
  cursor: default;
  font-weight: bold;
}

svg g.link:hover * {
  stroke: red;
}

svg g.link:hover path {
  marker-end: url('#arrow1-red');
}

svg g.link:hover text {
  fill: red;
}

svg g.link path.frame {
  stroke-width: 6px;
  opacity: 0;
}

svg .shadow {
  color: #71a1a5;
  stroke: currentColor;
  opacity: .2;
  stroke-width: 20px;
  fill: none;
}

svg .shadow:hover {
  opacity: .8;
}

div.dataTables_wrapper {
  position: relative;
}

div.dataTables_wrapper div.dataTables_info {
  position: absolute;
  bottom: 1px;
  z-index: 29;
  background: white;
  padding-top: 0;
  padding: 4px;
  font-size: 78%;
  box-shadow: 0px 0px 1px;
  right: 20px;
  border-radius: 3px;
  transition: opacity .3s;
  opacity: 1;
}

div.dataTables_wrapper div.dataTables_info:hover {
  opacity: .2;
}

table.dataTable thead th,
table.dataTable thead td {
  border-color: #ebeef0;
}

table.dataTable tbody tr {
  cursor: pointer;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: 0;
}

textarea {
  width: 99%;
  height: 5em;
  border-width: 1px;
  border-color: #ebeef0;
}

.splash {
  height: 50vw;
  min-height: 320px;
  max-height: 600px;
  background-size: cover;
  background-image: url(a3dba168518e25a4d736ac67e4835043.jpg);
  background-position-x: 40%;
  background-position-y: 60%;
  background-repeat: no-repeat;
  background-color: black;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.splash-footer {
  background-color: #f3f3f3;
}

.splash .tagline {
  font-family: Conv_Octarine-Light;
  filter: drop-shadow(0 0 5px rgba(255, 255, 255, .5));
}

a[href] {
  color: #000;
  text-decoration: underline;
}

a[href]:hover {
  color: #000;
  text-decoration: none;
}

body {
  height: 100vh;
  overflow-x: hidden;
}

.page-header {
  max-width: 1920px;
  height: 200px;
  background-image: url(e2bc11e93bd5b61e31cae3f793fac485.jpg);
  background-size: auto;
  background-position-y: 37%;
  background-repeat: no-repeat;
  background-color: black;
  color: #c0e2e1;
}

svg.slash {
  height: 5vw;
  position: absolute;
  bottom: -1px;
  background-color: transparent;
  width: 100vw;
}

svg.slash path {
  fill: white;
}

.splash .logo {
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, .8));
}

.splash .logo img {
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, .8));
  width: 100%;
}

.supported-currencies h2 {
  font-family: Conv_Octarine-Bold;
  padding-top: 0;
  padding-bottom: 1.5rem;
  width: 100%;
  text-align: center;
  color: #6bc2c2;
  font-size: 1.875rem;
}

.currency {
  min-height: 280px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-bottom: 1rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  margin-bottom: 1.25rem;
}

.currency h3 {
  font-family: Conv_Octarine-Light;
  font-size: 1.875rem;
  width: auto;
  text-align: center;
  padding-top: .5rem;
  padding-bottom: 1rem;
  border-bottom-width: 1px;
  border-color: #71a1a5;
  font-weight: 100;
}

.currency .statistics {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.currency.btc {
  background-image: url(05e5d7ef565a32f681763c7722bf6cee.svg);
}

.currency.ltc {
  background-image: url(009829e996b265e0650d3a8b70087159.svg);
}

.currency.bch {
  background-image: url(d17636ab11e76180e5058aba92411874.svg);
}

.currency.zec {
  background-image: url(207a8ee549c8621bae54c6f85743f738.svg);
}

.stats-table {
  display: table;
  border-collapse: collapse;
}

.stats-row {
  display: table-row;
}

.stats-key {
  font-weight: 700;
  display: table-cell;
  padding-right: .5rem;
  padding-top: .5rem;
  text-align: right;
}

.stats-value {
  display: table-cell;
}

.coming {
  font-size: 1.25rem;
  color: #717f85;
  padding-top: 2rem;
}

.static-page h2 {
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

.static-page p {
  margin-bottom: .75rem;
  margin-top: .5rem;
}

.static-page pre {
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12), 0 2px 4px 0 rgba(0, 0, 0, .08);
  border-width: 1px;
  border-color: #ebeef0;
  overflow: auto;
}

.static-page img.example {
  margin-top: .5rem;
  margin-bottom: .5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12), 0 2px 4px 0 rgba(0, 0, 0, .08);
}

ul#log-messages {
  height: 0;
  padding: 0;
  overflow: hidden;
  transition: height ease .5s;
}

ul#log-messages li {
  padding-bottom: .25rem;
}

#layout-status.visible ul#log-messages {
  height: 15ex;
  overflow-y: scroll;
  padding: .25rem;
}

#layout-status #show {
  display: block;
}

#layout-status #hide {
  display: none;
}

#layout-status.visible #show {
  display: none;
}

#layout-status.visible #hide {
  display: block;
}

#layout-status #indicator {
  display: none;
}

#layout-status.loading #indicator {
  display: inline;
}

@media (min-width: 576px) {

  .sm\:min-h-full {
    min-height: 100%;
  }

  .sm\:text-sm {
    font-size: .875rem;
  }
}

@media (min-width: 768px) {

  .md\:min-h-full {
    min-height: 100%;
  }

  .md\:text-base {
    font-size: 1rem;
  }

  .md\:w-1\/2 {
    width: 50%;
  }

  .md\:w-3\/5 {
    width: 60%;
  }
}

@media (min-width: 992px) {

  .lg\:min-h-full {
    min-height: 100%;
  }

  .lg\:text-3xl {
    font-size: 1.875rem;
  }

  .lg\:w-1\/3 {
    width: 33.33333%;
  }

  .lg\:w-2\/5 {
    width: 40%;
  }
}

@media (min-width: 1200px) {

  .xl\:min-h-full {
    min-height: 100%;
  }

  .xl\:w-1\/4 {
    width: 25%;
  }
}

