<footer>
  <div class="d-flex flex-column">
    <div class="d-flex flex-row justify-content-between">
        <span class="mt-1">Open Source Software by the <a href="https://www.ait.ac.at" target="_blank">AIT - Austrian Institute of Technology</a>, currently supported by the <a href="https://kryptomonitor-project.info/" target="_">KIRAS KRYPTOMONITOR</a> project.</span>
        <ul class="d-flex flex-row flex-wrap justify-content-end list-reset">
          <li class="ml-3 align-self-end"><a href="/terms.html">Terms</a></li>
          <li class="ml-3 align-self-end"><a href="/privacy.html">Privacy</a></li>
          <li class="ml-3 align-self-end"><a href="/imprint.html">Imprint</a></li>
          <li class="ml-3 align-self-end"><a href="mailto:{{site.email}}">Contact</a></li>
        </ul>
    </div>
    <div class="d-flex flex-row">
      <span>&copy; {{ site.time | date: "%Y" }} AIT, last update: {{ site.time | date_to_long_string}}</span>
    </div>
  </div>
</footer>
