<h3>{% include currencyname.html currency=include.currency %}</h3>
<div class="statistics">
  <div class="stats-table">
    <div class="stats-row">
      <span class="stats-key">Last update:</span>
      <span class="stats-value">{{ include.stats.timestamp | date: "%m/%d/%Y %I:%M %p" | replace: " ", "&nbsp;" }}</span>
    </div>
    <div class="stats-row">
      <span class="stats-key">Latest block:</span>
      <span class="stats-value">
        {% assign num = include.stats.no_blocks | minus: 1 %}
        {% include numf.html number=num decimals=0 %}
      </span>
    </div>
    <div class="stats-row">
      <span class="stats-key">Transactions</span>
      <span class="stats-value">
        {% assign num = include.stats.no_txs | minus: 1 %}
        {% include numf.html number=num decimals=0 %}
      </span>
    </div>
    <div class="stats-row">
      <span class="stats-key">Addresses</span>
      <span class="stats-value">
        {% assign num = include.stats.no_addresses | minus: 1 %}
        {% include numf.html number=num decimals=0 %}
      </span>
    </div>
    <div class="stats-row">
      <span class="stats-key">Entities</span>
      <span class="stats-value">
        {% assign num = include.stats.no_entities | minus: 1 %}
        {% include numf.html number=num decimals=0 %}
      </span>
    </div>
    <div class="stats-row">
      <span class="stats-key">Tags</span>
      <span class="stats-value">
        {% assign num = include.stats.no_labels | minus: 1 %}
        {% include numf.html number=num decimals=0 %}
      </span>
    </div>
  </div>
</div>
